flows.json
[{"id":"68cacf8f.662f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"68cacf8f.662f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"good morning","payloadType":"str","x":131,"y":61,"wires":[["f81e4ae4.281388"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"68cacf8f.662f4","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"f81e4ae4.281388","type":"watson-conversation-v1","z":"68cacf8f.662f4","name":"","workspaceid":"9a086749-cf82-4f02-b553-ab14cb39ae0b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c16bd754-a522-49e9-9ab6-88a89cbbca08","timeout":"","optout-learning":false,"x":350,"y":180,"wires":[["ce19b550.677748","f2f2649a.0d0d98"]]},{"id":"f19c23e6.91f6c","type":"debug","z":"68cacf8f.662f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":200,"wires":[]},{"id":"ce19b550.677748","type":"function","z":"68cacf8f.662f4","name":"","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["f19c23e6.91f6c","ddc26575.b87c08"]]},{"id":"8b32f440.6a0388","type":"ui_form","z":"68cacf8f.662f4","name":"","label":"","group":"31b74fe7.d3adf","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"","type":"text","required":true,"rows":null}],"formValue":{"":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":180,"y":320,"wires":[["7b63803.50bd58"]]},{"id":"7b63803.50bd58","type":"function","z":"68cacf8f.662f4","name":"","func":"msg.payload= msg.payload[\"\"]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":380,"wires":[["f81e4ae4.281388"]]},{"id":"ddc26575.b87c08","type":"ui_text","z":"68cacf8f.662f4","group":"31b74fe7.d3adf","order":1,"width":0,"height":0,"name":"","label":"bot response","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":400,"wires":[]},{"id":"31b74fe7.d3adf","type":"ui_group","name":"lochdown services","tab":"9661c89a.21f908","order":1,"disp":true,"width":"6","collapse":false},{"id":"9661c89a.21f908","type":"ui_tab","name":"talk to your bot","icon":"dashboard","disabled":false,"hidden":false}]